:root{
    --TitleColor: rgb(5, 51, 150);
    --titleShadowColor: rgb(0, 0, 0, 0.7); 
    --boxShadowColor: rgb(5, 51, 150, 0.7);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(16, 17, 22);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    background-color: rgb(51, 66, 66);
}
hr{
    border-color: rgb(62, 87, 87);
    margin: 5px 0;
}
header h2{
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    background-color: #939393;
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: 0 10%;
}
#topBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#cardGit{
    text-align: center;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 12px 12px 3px var(--boxShadowColor);
    background-color: rgb(51, 66, 66);
}
#basicSettings{
    min-width: 305px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#commands{
    display: flex;
    flex-direction: row;
}
#left{
    min-width: 70%;
    margin: 0 15px 0 0;
}
#repositorio{
    display: flex;
    justify-content: center;
}

.title{
    text-align: center;
    color: var(--TitleColor);
    filter: drop-shadow(1px 1px 7px var(--titleShadowColor));
}
.commandTable{
    min-width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    margin: 0 0 15px;
    color: #fff;
    background-color: #343a40;
}
.commandTableTitle th{
    font-size: 25px;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    background-color: #000;
}
.commandTableTitle{
    font-size: 25px;
    background-color: #000;
}
.commandLine{
    border-color: inherit;
    color: #fff;
}
.commandLine:hover{
    background-color: #58636eda;
}
.command{
    font-size: 14px;
    padding: 20px 30px;
}

.cardInfo{
    max-width: 500px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(46, 44, 44);
    box-shadow: 2px 2px 1.2px var(--boxShadowColor);
}